#home{
	width:1000px;
	margin: auto;
	background: #000000;
}
div.dataTables_wrapper{
	width: 970px;
	margin: auto;
}
div.dataTables_wrapper div.fg-toolbar{
	font-size: 0.8em;
	height: 22px;
}
div.dataTables_wrapper div.fg-toolbar div.dataTables_filter{
	width: 300px;
	float: left;
	text-align: left;
}
div.dataTables_wrapper div.fg-toolbar div.dataTables_filter input{
	width: 250px;
}
div.dataTables_wrapper div.fg-toolbar div.dataTables_info{
	float: right;
	clear:none;
	width: 100px;	
}
table.dataTable{
	width: 100%;	
}
table.dataTable thead tr{
	height: 30px;
}	
table.dataTable tbody tr{
	height: 40px;
}
table.dataTable tbody tr.odd {
    background-color: #000000;
    color: #FFFFFF;
}
table.dataTable tbody tr.even {
    background-color: #000000;
    color: #FFFFFF;
}
table.dataTable tr.odd td.sorting_1,
table.dataTable tr.even td.sorting_1 {
    background-color: #000000;
    border-right: 1px dashed #2F2FFF;
}
table.dataTable tr.odd td.sorting_2,
table.dataTable tr.even td.sorting_2 {
    background-color: #000000;
    border-right: 1px dashed #6F6FFF;
}
table.dataTable tr.odd td.sorting_3,
table.dataTable tr.even td.sorting_3 {
    background-color: #000000;
    border-right: 1px dashed #BFBFFF;
}
table.dataTable thead tr th.hidden,
table.dataTable tbody tr td.hidden{
	display: none;
	visibility: hidden;
}
table.dataTable tbody tr td{
	border-bottom: 1px solid #FFFFFF;
}

table.tooltip{
	width: 90%;
	margin:auto;
}
table.tooltip td.name{
	text-align: left;
}
table.tooltip td.number{
	text-align: right;
}
.tooltip-table{
	width: 140px;
}
table.actions{
	color: #FFFFFF;
	height: 100%;
	width: 100%;
}
table.actions tbody tr td{
	border: none;
	padding: 0;
}
table.actions tbody tr td input.button-keys{	
	
}
table.actions tbody tr td input.text-keys{
	width:24px;
	height: 14px;
	text-align: center;
	background-color: #FFFFFF;
	color: #000000;
	border: 1px solid #FFFFFF;
	border-radius: 3px;
	margin: auto;
	margin-top: -2px;
	display:none;	
}
